.resume-grid {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: auto;
  margin: auto;
}
.resume-left {
  border-right: 2px dotted pink;
}
.resume-left-up {
  text-align: center;
  color: antiquewhite;
}
.profile-picture {
  height: 200px;
  border-radius: 50%;
}
.resume-left-down {
  font-family: Lemonada !important;
  color: rgb(240, 168, 218);
}
.resume-right-col {
  font-family: Lemonada;
  color: antiquewhite;
  padding: 2em;
}

.resume-right-col h2 {
  font-family: Lemonada;
  color: antiquewhite;
}
