.header-color {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-grid {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-container {
  width: 100%;
  height: auto;
  margin: auto;
}
.me-image {
  background: url(me.jpg),
    linear-gradient(
      to left,
      rgba(236, 197, 208, 0.8),
      rgb(164, 138, 187, 0.8),
      rgb(53, 92, 125, 0.8)
    );
  background-blend-mode: luminosity;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  border-style: none !important;
  outline: none !important;
  margin: auto;
  width: 500px;
  height: 700px;
}
.banner-text {
  text-align: center;
  width: 75%;
  margin: auto;
}
.banner-text h2 {
  font-size: 58px;
  font-family: Lemonada;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
.banner-text h1 {
  font-family: Dancing Script;
  font-style: italic;
  font-size: 60px;
  color: pink;
}

.banner-text p {
  font-size: 58px;
  font-family: Lemonada;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
#button-hire {
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
}
/* contact page */
.contact-container {
  width: 100%;
  height: auto;
  margin: auto;
  position: fixed;
  justify-content: center;
  padding-top: 2em;
  background: #fd4472; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00223e,
    #fd4472
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00223e,
    #fd4472
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #fd4472; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00223e,
    #fd4472
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00223e,
    #fd4472
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: pink;

  margin: 5px;
}
.contact-grid h2 {
  font-family: Lobster, sans-serif;
}
.contact-grid p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}
.contact-info #list-color {
  color: rgb(253, 154, 171);
}

.mdl-list__item-sub-title {
  color: pink !important;
}
.mdl-list__item-avatar {
  color: pink !important;
}
.contact-form {
  width: 60%;
  height: 100%;
}
.mdl-textfield__label {
  font-family: Raleway !important;
  color: pink !important;
}
#button-send {
  margin: auto;
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
}
/* contact icons style */
.contact-font-glow {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 20px;
}
.glow-container {
  display: flex;
}

.glow-container a {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.glow-container a:before {
  position: absolute;
  content: "";
  /* background: #d35400; */
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
.glow-container a:nth-child(1):before {
  background: #7aa2f1;
}
.glow-container a:nth-child(2):before {
  background: #f04ecd;
}
.glow-container a:nth-child(3):before {
  background: #45c5e6;
}
.glow-container a:nth-child(4):before {
  background: #fafafa;
}
.glow-container a:nth-child(5):before {
  background: #ff0000;
}
.glow-container a:nth-child(6):before {
  background: #f4f758;
}
.glow-container a:hover:before {
  filter: blur(5px);
  transform: scale(1.2);
  box-shadow: 0 0 15px #07f327;
}
/* .glow-container a:nth-child(1):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(2):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(3):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(4):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(5):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(6):hover:before {
  box-shadow: 0 0 15px #f5dc93;
} */
.glow-container a:nth-child(1):hover {
  color: #7aa2f1;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #7aa2f1;
}
.glow-container a:nth-child(2):hover {
  color: #f04ecd;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #f04ecd;
}
.glow-container a:nth-child(3):hover {
  color: #45c5e6;
  box-shadow: 0 0 15px#f5dc93;
  text-shadow: 0 0 15px #45c5e6;
}
.glow-container a:nth-child(4):hover {
  color: #fafafa;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #fafafa;
}
.glow-container a:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px#f5dc93;
  text-shadow: 0 0 15px #ff0000;
}
.glow-container a:nth-child(6):hover {
  color: #f4f758;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #f4f758;
}
