/* home CSS */
.home-grid {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-container {
  width: 100%;
  height: auto;
  margin: auto;
}
.me-image {
  background: url(./components/me.jpg),
    linear-gradient(
      to left,
      rgba(236, 197, 208, 0.8),
      rgb(164, 138, 187, 0.8),
      rgba(43, 84, 121, 0.8)
    );
  background-blend-mode: luminosity;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  border-style: none !important;
  outline: none !important;
  margin: auto;
  width: 500px;
  height: 700px;
}
.banner-text {
  text-align: center;
  width: 75%;
  margin: auto;
}
.banner-text h2 {
  font-size: 58px;
  font-family: Lobster;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
.banner-text h1 {
  font-family: Dancing Script;
  font-style: italic;
  font-size: 60px;
  color: pink;
}

.banner-text p {
  font-size: 58px;
  font-family: Lobster;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
#button-hire {
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
}
/* aboutme page CSS */
.aboutme-container {
  display: flex;
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: auto;
  margin: auto;
}
#sky-container {
  width: 500px;
  height: 500px;
  /* background-image: radial-gradient(
    circle,
    #fad899,
    #fad899,
    #ffb492,
    #c06c84,
    #644b7a,
    #355c7d,
    #355c7d,
    #355c7d
  ); */
  background: linear-gradient(
    to left,
    #fad899,
    #ffb492,
    #c06c84,
    #a15b6f,
    #805286,
    #355c7d
  );
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  transform: rotateZ(45deg);
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #f5e187, rgba(79, 79, 226, 0.562));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

.star::before,
.star::after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  animation-delay: 650ms;
}
.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 650ms;
}

.star:nth-child(2) {
  top: calc(50% - -50px);
  left: calc(50% - 190px);
  animation-delay: 150ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 150ms;
}

.star:nth-child(3) {
  top: calc(50% - -90px);
  left: calc(50% - 200px);
  animation-delay: 1600ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1600ms;
}

.star:nth-child(4) {
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  animation-delay: 4700ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 4700ms;
}

.star:nth-child(5) {
  top: calc(50% - -190px);
  left: calc(50% - 200px);
  animation-delay: 2100ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 2100ms;
}

/* Animations */
@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(320px);
  }
}
.about-left p,
.about-right p,
pre {
  font-family: Lemonada;
  color: #ffb492;
}
/* Show Off CSS */
.category-tabs {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mdl-tabs__tab {
  font-family: Lemonada;
  color: rgb(68, 7, 58) !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: rgba(248, 157, 157, 0.87) !important;
}
.cards-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* resume CSS */
.resume-grid {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: auto;
  margin: auto;
}
.resume-left {
  border-right: 2px dotted pink;
}
.resume-left-up {
  text-align: center;
  color: antiquewhite;
}
.profile-picture {
  height: 200px;
  border-radius: 50%;
}
.resume-left-down {
  font-family: Lemonada !important;
  color: rgb(240, 168, 218);
}
.resume-right-col {
  font-family: Lemonada;
  color: antiquewhite;
  padding: 2em;
}

.resume-right-col h2 {
  font-family: Lemonada;
  color: antiquewhite;
}
/* show off page */

/* .mdl-card__title {
  align-items: center;
  display: flex;
  justify-content: stretch;
  line-height: normal;
  padding: 16px 16px;
  perspective-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
} */
/* contact page */
.contact-container {
  width: 80%;
  height: auto;
  margin: auto;
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: auto;
  margin: auto;
}
.contact-grid {
  color: pink;
}
.contact-grid h2 {
  font-family: Lobster, sans-serif;
  text-align: center;
  color: rgb(102, 3, 57);
}
.contact-grid p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-align: center;
}
.contact-info #list-color {
  color: rgb(102, 3, 57);
  text-align: center;
}

.mdl-list__item-sub-title {
  color: rgb(250, 211, 218) !important;
}
.mdl-list__item-avatar {
  color: rgb(253, 128, 128) !important;
}
.contact-form {
  width: 60%;
  height: auto;
}
.mdl-textfield__label {
  font-family: Raleway !important;
  color: pink !important;
}
#button-send {
  margin: auto;
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
}
#button-send:hover {
  margin: auto;
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #f04ecd;
}
/* contact icons style */
.contact-font-glow {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 20px;
}
.glow-container {
  display: flex;
}

.glow-container a {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.glow-container a:before {
  position: absolute;
  content: "";
  /* background: #d35400; */
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
.glow-container a:nth-child(1):before {
  background: #7aa2f1;
}
.glow-container a:nth-child(2):before {
  background: #f04ecd;
}
.glow-container a:nth-child(3):before {
  background: #45c5e6;
}
.glow-container a:nth-child(4):before {
  background: #fafafa;
}
.glow-container a:nth-child(5):before {
  background: #ff0000;
}
.glow-container a:nth-child(6):before {
  background: #f4f758;
}
/* .glow-container a:hover:before {
  filter: blur(5px);
  transform: scale(1.2);
  box-shadow: 0 0 30px #4213ec;
} */
/* .glow-container a:nth-child(1):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(2):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(3):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(4):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(5):hover:before {
  box-shadow: 0 0 15px #f5dc93;
}
.glow-container a:nth-child(6):hover:before {
  box-shadow: 0 0 15px #f5dc93;
} */
.glow-container a:nth-child(1):hover {
  color: #7aa2f1;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #7aa2f1;
}
.glow-container a:nth-child(2):hover {
  color: #f04ecd;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #f04ecd;
}
.glow-container a:nth-child(3):hover {
  color: #45c5e6;
  box-shadow: 0 0 15px#f5dc93;
  text-shadow: 0 0 15px #45c5e6;
}
.glow-container a:nth-child(4):hover {
  color: #fafafa;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #fafafa;
}
.glow-container a:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px#f5dc93;
  text-shadow: 0 0 15px #ff0000;
}
.glow-container a:nth-child(6):hover {
  color: #f4f758;
  box-shadow: 0 0 15px #f5dc93;
  text-shadow: 0 0 15px #f4f758;
}
