.home-grid {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-container {
  width: 100%;
  height: auto;
  margin: auto;
}
.me-image {
  background: url(../../components/me.jpg),
    linear-gradient(
      to left,
      rgba(236, 197, 208, 0.8),
      rgb(164, 138, 187, 0.8),
      rgba(43, 84, 121, 0.8)
    );
  background-blend-mode: luminosity;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  border-style: none !important;
  outline: none !important;
  margin: auto;
  width: 500px;
  height: 700px;
}
.banner-text {
  text-align: center;
  width: 75%;
  margin: auto;
}
.banner-text h2 {
  font-size: 58px;
  font-family: Lobster;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
.banner-text h1 {
  font-family: Dancing Script;
  font-style: italic;
  font-size: 60px;
  color: pink;
}

.banner-text p {
  font-size: 58px;
  font-family: Lobster;
  font-weight: bold;
  color: rgb(42, 16, 85);
}
#button-hire {
  font-family: Lemonada;
  background-color: rgb(90, 5, 64);
  color: rgb(248, 163, 163);
}
