.category-tabs {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mdl-tabs__tab {
  font-family: Lemonada;
  color: rgb(68, 7, 58) !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: rgba(248, 157, 157, 0.87) !important;
}
.mdl-layout__content {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cards-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slides-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.project-photo {
  background: #355c7d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #5441999d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c06c84, #6c5b7b, #5441999d);
  background: -webkit-linear-gradient(
    to left,
    #c06c84,
    #6c5b7b,
    #5441999d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mdl-card__title {
  background-color: #5441999d !important;
}
.mdl-card__title-text {
  font-size: 16px;
  color: #55052d !important;
  font-family: Lemonada !important;
}
.mdl-card__supporting-text {
  width: 100% !important;
  line-height: 15px !important;
  padding: 5px !important;
  background-color: #c06c84;
  font-family: Lemonada;
  font-size: 12px !important;
  font-weight: bold;
  color: #55052d !important;
}
.mdl-card__actions {
  background-color: #d8799d !important;
}
.mdl-button.mdl-button--colored {
  color: #55052d !important;
  font-weight: bold;
}
h5 {
  margin-top: 15px !important;
  text-align: center;
  font-size: 12px;
  color: #55052d !important;
  font-family: Lemonada !important;
}
